
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.Kitchen1{
    background-color: #fff;
    background-image:linear-gradient( #fff7ef,  #fff);
    background-image:-webkit-linear-gradient( #fff7ef,  #fff);
    background-image:-moz-linear-gradient( #fff7ef,  #fff);
    background-image:-ms-linear-gradient( #fff7ef,  #fff);
    background-image:-o-linear-gradient( #fff7ef,  #fff);
}

.Kitchen2{
    background-color: #fff;
    background-image:linear-gradient(rgba(110, 69, 143, 0.1),  #fff);
    background-image:-wedkit-linear-gradient(rgba(110, 69, 143, 0.1),  #fff);
    background-image:-moz-linear-gradient(rgba(110, 69, 143, 0.1),  #fff);
    background-image:-ms-linear-gradient(rgba(110, 69, 143, 0.1),  #fff);
    background-image:-o-linear-gradient(rgba(110, 69, 143, 0.1),  #fff);
}

.Kitchen3{
    background-color: #fff;
    background-image:linear-gradient( rgba(10, 77, 123, 0.1),  #fff);
    background-image:-wedkit-linear-gradient( rgba(10, 77, 123, 0.1),  #fff);
    background-image:-moz-linear-gradient( rgba(10, 77, 123, 0.1),  #fff);
    background-image:-ms-linear-gradient( rgba(10, 77, 123, 0.1),  #fff);
    background-image:-o-linear-gradient( rgba(10, 77, 123, 0.1),  #fff);
}

.mlkpro{
    color: #636362;
    font-size:22px;
    line-height: 22px;
    margin-bottom:15px;
    width:43%;
    margin: 0 auto;
    text-align:center;
}

/* .food a{
    text-decoration: none;
} */

/* .food p{
    font-family: 'Concert One', Cursive;
    font-size: 1.5rem;
} */